<h1> Hi, Admin </h1>
 <p> An order has been placed on KittyCat. </p>
 <p> information: </p><br>

 <p>  <table style="width:100%">
         <tr>
           <th>Image</th>
           <th>Name</th>
           <th>Price</th>
           <th>qqty</th>
         </tr>

             <% @order.item_orders.each do |item_order| %>
             <tr>
               <th><img src="<%= item_order.item.image_url %>" class="edit-image"></th>
               <th><%= item_order.item.title %></th>
               <th>$ <%= item_order.item.price%></th>
               <th><%= item_order.quantity%></th>
             </tr>
           <% end%>
           <tr>
             <th></th><th></th>
             <th>TOTAL :</th>
             <th>$<%= @order.total_price %></th>
           </tr>
           </table><br><br>



</p>

<% @user = User.find(@order.user_id) %>
User = <%= @user.email %> <br>
