
<div id="grid-selector">
       <div id="grid-menu">
           View:
           <ul>
               <li class="largeGrid"><a href=""></a></li>
               <li class="smallGrid"><a class="active" href=""></a></li>
           </ul>
       </div>

       Showing <%= @item.length %> results
</div>

<div id="grid">
  <% @item.each do |item| %>
    <div class="product">
      <div class="info-large">
          <h4><%= item.title %></h4>
            <div class="price-big">
              <%= item.price %> €
            </div>
            <button class="add-cart-large">Add To Cart</button>
        </div>
        <div class="make3D">
            <div class="product-front">
                <div class="shadow"></div>
                <img src="<%= item.image_url %>" alt="" />
                <div class="image_overlay"></div>
                <div class="add_to_cart">Add to cart</div>
                <div class="view_gallery"><a href="item/<% item.id%>"></a>More info</div>
                <div class="stats">
                    <div class="stats-container">
                        <span class="product_price"><%= item.price %> €</span>
                        <span class="product_name"><%= item.title %></span>
                    </div>
                    </div>
                </div>
            </div>

            <div class="product-back">
                <div class="shadow"></div>
                <div class="carousel">
                    <ul class="carousel-container">
                        <li><img src="<%= item.image_url %>" alt="" /></li>
                        <li><img src="<%= item.image_url %>" alt="" /></li>
                        <li><img src="<%= item.image_url %>" alt="" /></li>
                    </ul>
                    <div class="arrows-perspective">
                        <div class="carouselPrev">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                        <div class="carouselNext">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                    </div>
                </div>
                <div class="flip-back">
                    <div class="cy"></div>
                    <div class="cx"></div>
                </div>
            </div>
        </div>
      <% end %>
</div>