


<div id="grid">
  <div id="grid-selector">
         <div id="grid-menu">
             View:
             <ul>
                 <li class="largeGrid"><a href=""></a></li>
                 <li class="smallGrid"><a class="active" href=""></a></li>
             </ul>
         </div>

         Showing <%= @item.length %> results
  </div> <br>

  <% @item.each do |item| %>
    <div class="product">
      <div class="info-large">
          <h4><%= item.title %></h4>
            <div class="price-big">
              <%= item.price %> $
            </div>
            <button class="add">Add To Cart</button>
        </div>
        <div class="make3D">
            <div class="product-front">
                <div class="shadow"></div>
                <img src="<%= item.image_url %>" alt="" />
                <div class="image_overlay"></div>
                <div class="add">Add to cart</div>
                <div class="view_gallery"><a href="items/<%=item.id%>">More info</a></div>
                <div class="stats">
                    <div class="stats-container">
                        <span class="product_price"><%= item.price %> $</span>
                        <span class="product_name"><%= item.title %></span>

                    </div>
                    </div>
                </div>
            </div>
        </div>
      <% end %>
</div>
