<div class="container">
  <div class="row">

     <% if current_user.admin? %>
        <div class="field">
      <%= form_for @item do |f| %>

  <%= f.label :picture %>
  <%= f.file_field :picture %>
  <%= f.submit %>

<% end %>

<% end %>


<% if @item.picture.attached? %>



      <div class='show_image'><%= image_tag @item.picture %> </div>
 <% else %>
     <div class="show_image">
      <img src="<%= @item.image_url %>" alt=""></div>
  <% end %>

    <div class="col-sm" style="margin-top: 5em; margin-left: 2em;">
      <h1><%= Item.find(@id).title%></h1>
      <span class='show_description'><%= Item.find(@id).description %></span><br><br>
      <span class = 'show_price'><%= Item.find(@id).price%> €</span><br>
      <%= button_to "Add to cart", cart_items_path(:id => @item), :remote => true, class: "showcart", onclick: "window.location.href='/';" %>
    </div>
  </div>
</div>
