
<div class='edit-page'>

  <h2>Votre profil</h2><br>
    <div class="edit-wrapper">


      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Edit profils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Delete profile</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <h3>My past orders</h3><br>
          <% if current_user.orders == [] %>
             You haven't ordered anything yet!
          <% else %>
              <%current_user.orders.each do |order| %>
              Date : <%= order.created_at %>
              <table style="width:50%">
                  <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity/th>
                  </tr>

                  <% order.item_orders.each do |item_order| %>
                  <tr>
                    <th><img src="<%= item_order.item.image_url %>" class="edit-image"></th>
                    <th><%= item_order.item.title %></th>
                    <th>$ <%= item_order.item.price%></th>
                    <th><%= item_order.quantity%></th>
                  </tr>
                <% end%>
                <tr>
                  <th></th>
                  <th>TOTAL :</th>
                  <th>$<%= order.total_price %></th>
                </tr>
                </table><br><br>
              <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <h3>Editer mon profil</h3><br>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %><br>

              <div class="field">
                <%= f.label :mot_de_passe %> <i>(laisser vide pour ne pas le modifier)</i><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> caractères minimum</em>
                <% end %>
              </div><br>

              <div class="field">
                <%= f.label :confirmation_mot_de_passe %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div><br>

              <div class="field">
                <%= f.label :Mot_de_passe_actuel %> <i>(entrez votre mdp actuel pour confirmer vos changements)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password" %>
              </div><br>

              <div class="actions">
                <%= f.submit "Editer", class:'showcart'%>
              </div>
            <% end %><br><br>
          </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <h3>Supprimer mon compte</h3><br>

          <p>Pas content ? <br><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "êtes-vous sur ?" }, method: :delete, class:'showcart' %></p>
       </div>


  </div>
  </div>
